

<div class="flex flex-col items-center gap-12 mt-10">
  <div class="flex flex-col gap-1 justify-center items-center px-4 py-4">
    <p class="text-5xl text-gray-600">New Categories</p>
    <p class="text-lg text-gray-500">You can add new categories from here ...!</p>
  </div>
  <div class="flex gap-6">
    <input type="text" class="w-[75rem] h-16 shadow-sm bg-slate-100 border rounded px-4">
    <button class="w-fit h-fit px-8 py-5 bg-gradient-to-r from-teal-700 to-[#052d70] text-white rounded-lg text-xl">Add Category</button>
  </div>
</div>
