
<div class="px-48 py-12">
<div class="w-full h-56 bg-slate-100 rounded-lg flex flex-col justify-center items-center gap-2 shadow-inner">
  <p class="text-4xl font-serif text-gray-800">All BLog Posts</p>
  <p class="font-serif text-gray-500 text-xl">From here you can manage your blog posts.</p>
  <div class="flex gap-4 mt-2">
    <button class="w-fit h-14 px-8 bg-green-800 text-white rounded-xl" routerLink="/post/new">Add New Post</button>
    <button class="w-fit h-14 px-8 bg-yellow-400 text-white rounded-xl" routerLink="/">Back to Dashboard</button>
  </div>
</div>

</div>
